<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
    <link rel="stylesheet" href="styles.css"> <!-- スタイルシートをリンク -->
    <!-- 最新の Bootstrap CSS を読み込む -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- 最新の JavaScript バンドルを読み込む -->
    
    </head>
<body>
    <!-- ページの内容をここに記述 -->
    <div class="container">
        <h1 class="text-center my-5">さあ、業界・企業分析を始めよう！</h1>
        <h2 class="text-center my-5">AI業界分析マシーン</h2>
        <form action="/post" method="get" class="text-center">
            <button type="submit">はじめる</button>
        </form>
    </div>
    <script src="script.js"></script> <!-- JavaScriptファイルをリンク -->
</body>
</html>

